html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Style pour la collection */
.collection {
    min-height: 100vh;
    min-width: 100vw;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

/* Style pour la recherche de collection */
.rechercheCollection {
    grid-area: 1 / 1 / 6 / 2;
    background-color: grey;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* Style pour les éléments de la recherche de collection */
.rechercheCollection label {
    margin-bottom: 4px;
    font-weight: bold;
}

.rechercheCollection select,
.rechercheCollection input {
    margin-bottom: 16px;
}

/* Style pour l'affichage des cartes de collection */
.affichageCartesC {
    grid-area: 1 / 2 / 6 / 6;
    background-color: rgb(180, 46, 12);
    font-size: 18px;
    text-align: center;
}

/* Style pour les cartes de collection */

.collection-card {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.affichage-cartes-collection-card {
    margin-top: 40px;
    margin-left: 13px;
    margin-right: 13px;
    text-align: center;
}

.image-collection {
    width: 150px;
    height: auto;
    border-radius: 8px;
}

.bouton-collection {
    background: none;
    border: none;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.pagination-collection {
    margin-top: 35px;
    text-align: center;
}

/* Responsive for tablets */
@media (max-width: 1024px) {

    .rechercheCollection {
        font-size: 14px;
        padding: 8px 0;
    }

    .rechercheCollection label,
    .rechercheCollection select,
    .rechercheCollection input {
        font-size: 13px;
        margin-bottom: 10px;
    }

    .affichageCartesC {
        font-size: 14px;
        padding: 8px 32px;

    }

    .affichage-cartes-collection-card {
        margin-top: 20px;
        margin-left: 8px;
        margin-right: 8px;
    }

    .image-collection {
        width: 100px;
    }

    .pagination-collection {
        margin-top: 10px;
    }

    .bouton-collection {
        font-size: 11px;
    }

    .bouton-pagination {
        font-size: 11px;
    }
}

/* Responsive for mobile */
@media (max-width: 600px) {

    .rechercheCollection {
        font-size: 10px;
        padding: 4px 0;
    }

    .rechercheCollection label,
    .rechercheCollection select,
    .rechercheCollection input {
        font-size: 10px;
        margin-bottom: 6px;
    }

    .affichageCartesC {
        font-size: 10px;
        padding: 4px 4px;
    }

    .affichage-cartes-collection-card {
        margin-top: 10px;
        margin-left: 4px;
        margin-right: 4px;
    }

    .image-collection {
        width: 60px;
    }

    .pagination-collection {
        margin-top: 6px;
    }

    .bouton-collection {
        font-size: 10px;
    }
}