/* Responsive for tablets */
@media (max-width: 1024px) {
    .collection {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
    }

    .affichageCartesC {
        grid-area: 1 / 1 / 2 / 3;
    }

    .rechercheCollection {
        grid-area: 2 / 1 / 3 / 3;
    }
}

/* Responsive for mobile */
@media (max-width: 600px) {
    .collection {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    .affichageCartesC,
    .rechercheCollection {
        grid-area: auto / auto / auto / auto;
    }
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.collection {
    min-height: 100vh;
    min-width: 100vw;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.rechercheCollection {
    grid-area: 1 / 1 / 6 / 2;
    background-color: grey;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.rechercheCollection label {
    margin-bottom: 4px;
    font-weight: bold;
}

.rechercheCollection select,
.rechercheCollection input {
    margin-bottom: 16px;
}

.affichageCartesC {
    grid-area: 1 / 2 / 6 / 6;
    background-color: rgb(191, 84, 8);
    font-size: 18px;
    text-align: center;
}

.affichage-cartes-collection-card {
    margin-top: 40px;
    margin-left: 13px;
    margin-right: 13px;
    text-align: center;
}

.bouton-collection {
    background: none;
    border: none;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}